<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div id="main">
        <div id="container">
            <div id="image">

            </div>
            <h1 id="username">@<%= user.username %></h1>
            <p id="bio"><%= user.bio %></p>
            <p id="email"><%= user.email %></p>
        </div>
    </div>
</body>
</html>